ul{
  width: 960px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
/* overflow: hidden;
          visible;
          scroll;
para modificar la visibilidad del texto desbordado de las cajas */
li {
  border: solid 10px mediumSLATEBLUE;
  background-color: ivory;
  display: block;
  margin: 10px;
  width: 200px;
  height: 200px;
  float: left;
  box-shadow: gray 5px 5px 5px;
  font-size: 24px;
  font-family: Helvetica Neue;
  text-align: center;
  background-size: 100%;
}
a {
  text-decoration: none;
  height: 120px;
  display: block;
  margin: 0;
  padding-top: 80px;
  background-color: rgba(255,255,255,0.6);
} /* para que el enlace funcione para toda la caja */
a:visited {
  background-color: ivory;
  color: darkSLATEBLUE
}
a:hover {
  margin: 0;
  height: 120px;
  background-color: #fff;
}

/* .anulador {
  clear: both;
}
clear: both;
          left;
          right;
para anular el efecto del float */
#a01 {
  background-image: url(img/a01.png);
}
#a02 {
  background-image: url(img/a02.png);
}
#a03 {
  background-image: url(img/a03.png);
}
#a04 {
  background-image: url(img/a04.png);
}
#a05 {
  background-image: url(img/a05.png);
}
#a06 {
  background-image: url(img/a06.png);
}
#a065 {
  background-image: url(img/a065.png);
}
#a07 {
  background-image: url(img/a07.png);
}
#a08 {
  background-image: url(img/a08.png);
}
#a09 {
  background-image: url(img/a09.png);
}
#a10 {
  background-image: url(img/a10.png);
}
#a11 {
  background-image: url(img/a11.png);
}
#a12 {
  background-image: url(img/a12.png);
}
#a13 {
  background-image: url(img/a13.png);
}
#a14 {
  background-image: url(img/a14.png);
}
#a15 {
  background-image: url(img/a15.png);
}
#a16 {
  background-image: url(img/a16.png);
}
#a17 {
  background-image: url(img/a17.png);
}
