body{
  background-color: darksalmon;
  font-size: 1em;
}
/* breakpoint per a mòbil apaisat */
@media screen and (max-width:640px) and (orientation:landscape){
  body{
    background-color: seagreen;
  }
}
/* breakpoint per a mòbil vertical */
@media screen and (max-width:640px) and (orientation:portrait){
  body{
    background-color: DarkKhaki;
  }
}
/* per a escriptori */
@media screen and (min-width:1200px) {
  body{
    background-color: PeachPuff;
  }
}
/* per a tablets vertical */
@media screen and (min-width:641px) and (max-width:1200px) and (orientation:portrait){
  body{
    background-color: Khaki;
  }
}
/* per a tablets apaisades */
@media screen and (min-width:641px) and (max-width:1200px)  and (orientation:landscape){
  body{
    background-color: MediumAquaMarine;
  }
}






div {
  margin: 0 auto;
  width: 800px;
}
p {
  font-size: 1em;
  line-height: 2em;
  text-align: justify;
}
/* 0.75 = 12px
1em = 16px (paràgrafs)
1.5em = 24px (titulars)
2em = 32px (interlineat)
 */
img {
  width: 100px;
}
h2{
  font-size: 1.5em;
  font-family: georgia, times;
  font-family: 'Baloo Bhai', helvetica, arial, sans-serif;
}
.left {
  float: left;
  margin-right: 20px;
}
.right {
  float: right;
  margin-left: 20px;
}
.capitular {
  float: left;
  margin-right: 0;
  width: 50px;
}
.inicial {
  text-indent: -15px;
}
.inicial::first-letter {
  color: white;
}
.c1 {
  width: 390px;
  float: left;
}
.c2 {
  width: 390px;
  float: right;
}
