body{
  margin: 0 auto;
  padding: 0;
}
#d1{
  background-color: yellow;
  height: 150px;
}
#d2{
  background-color: white;
  width: 30%;
  height: 700px;
  left: 0;
  float: left;
}
#d3{
  background-color: orange;
  width: 40%;
  height: 700px;
  float: left;
}
#d3 img{
  width: 100%;
}
#d4{
  background-color: pink;
  width: 30%;
  height: 700px;
  float: left;
}
#d5{
  background-color: black;
  height: 150px;
  clear: both;
}
ul{
  margin: ;
  padding: ;
}
li{
  margin: ;
  padding: ;
}
p{
  color: white;
}
