.peu nav{
  background-color: white;
  z-index:1000;
	width:80%;
	margin: 8% auto;
	height: 100%;
  position: fixed;
  top:0;
  right: 100%;
	margin: 0;
	overflow: hidden;
}
.iconhamb .bt-menu {
	display: block;
	color: #fff;
	overflow: hidden;
	text-decoration: none;
}
.peu nav ul {
	list-style:none;
  padding-left: 5%;
  padding-top: 5%;
}
.peu nav ul li {
	display: block;
	position: relative;
}
.peu nav ul li:hover {
	background:#D03B3B;
}
.peu nav ul li a {
	color:black;
	display:block;
	text-decoration:none;
	padding: 2% 4%;
}
.peu nav ul li img {
	height: 100%;
  padding-left: 4%;
}
.peu nav .menu_cap{
	border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 4%;
  padding-bottom: 0;
}
.peu nav .menu_cap h2{
	display: inline-block;
	position: relative;
  float: right;
}
.peu nav #atras2{
	display: inline-block;
	position: relative;
}
.peu nav .menu_peu #atras3{
	display: inline-block;
	position: relative;
  margin: 0;
  padding-right: 4%;
}
.peu nav .menu_nomapp{
	border-bottom: 1px solid rgba(0,0,0,.4);
  padding: 3%;
  padding-right: 7%;
  padding-bottom: 0;
  text-align: right;
}
.peu nav .menu_nomapp h1{
  font-size: 2.2em;
  color: #800000;
  font-family: 'Reem Kufi';
}
.peu nav .menu_peu{
	border-top: 1px solid rgba(0,0,0,.2);
  padding: 2% 5%;
  padding-left: 20px;
  position: fixed;
  bottom: 0;
  width: 69%;
}
.peu nav .menu_peu h2{
	display: inline-block;
	position: relative;
}
.peu nav .menu_peu img{
	display: inline-block;
	position: relative;
  float: right;
  height: 4%;
}
.peu nav .menu_peu a {
	color:red;
	text-decoration:none;
}
