body{
  background-color: white;
  font-family: 'Rambla', Arial, Helvetica, sans-serif;
  font-size: 1em;
  overflow-x:hidden;
  margin: 0 auto;
}
h1{
  font-size: 18px;
}
h2{
  font-size: 16px;
}
h3{
  font-size: 14px;
}
.contingut{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: orange;
  background-image:url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: %;
}
.centrar {
  overflow: hidden;
  width: 360px;
  margin: 0 auto;
}
.cap{
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  box-shadow: 0px 0px 4px gray;
}
.iconcap{
  margin: 10px 15px;
  text-align: center;
}
#atras{
  float: left;
  width: 5%;
}
#pagina{
  float: right;
  width: 17%;
}
#nomapp{
  float: left;
  width: 53%;
  color: red;
  position: relative;
  left: 10px;
}
.cos{
  position: absolute;
  overflow-y: auto;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 70px;
}
.peu{
  background-color: white;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 70px;
  box-shadow: 0px 0px 4px gray;
}
.iconhamb{
  float: left;
  margin: 15px 20px;
}
#menuhamb img{
  height: 38px;
}
.iconpeu{
  float: left;
  margin: 10px 20px;
}
.peu img {
  height: 50px;
}

/*discover page*/
.ficha{
  float: left;
  width: 39%;
  margin: 8px 18px auto;
  text-align: center;
}
.ficha img{
  width: 70%;
}
.fichatxt{
  width: 100%%;
  margin: 5px 0 0 0;
  padding: 5px 0 0 0;
  text-align: center;
  background-color: #FFDD92;
  border-radius: 10px;
  box-shadow: 2px 2px 8px gray;
}
.fichatxt h2{
  font-size: 16px;
  margin: 3px 0;
  font-weight: 500;
}
.numpost{
  width: 30%;
  margin: 10px;
  margin-left: 15px;
  float: left;
  position: relative;
  top: -7px;
}
.numpost img{
  width: 60%;
  float: left;
}
.numpost h3{
  font-size: 14px;
  margin: 0;
  line-height: 29px;
  font-weight: 500;
}
#logochat{
  width: 20%;
  margin: 2px 9px;
  margin-left: 30px;
}

/*profile page*/
#nomperfil{
  width: 100%;
  margin: 0 0 10px 0;
  padding: 15px 0;
  text-align: center;
  background-color: #FFDD92;
}
#nomperfil h1{
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}
#nomperfil img{
  height: 20%;
  display: inline-block;
}
#nomtxt h1{
  font-size: 18px;
  text-align: left;
  margin: 5px 10px;
  font-weight: 600;
}
#nomtxt {
  width: 30%;
  display: inline-block;
  position: relative;
  top: -20px;
}
#local{
  width: 66%;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #FFF7E5;
  border-radius: 10px;
  box-shadow: 2px 2px 6px lightgray;
}
.linea{
  width: 100%;
}
#lin1 h2{
  position: relative;
  top: -4px;
}
#lin2 h2{
  position: relative;
  top: -6px;
}
#lin3 h2{
  margin-bottom: 0;
}
#lin1 img{
  width: 8%;
  margin: 0 0 0 5px;
}
#lin2 img{
  width: 10%;
  margin: 0 ;
}
#lin3 img{
  width: 5%;
  margin: 5px 5px 5px 10px;
}
.linea img{
  display: inline-block;
}
.linea h2{
  display: inline-block;
  font-size: 14px;
  text-align: left;
  margin: 5px;
  font-weight: 450;
}
.numposit{
  width: 75%;
  margin: 10px;
  padding: 5px;
  background-color: ;
  margin: 0 auto;
  height: 5%;
}
.numposit img{
  display: inline-block;
  margin: 5px;
  width: 10%;
}
.numposit h2{
  position: relative;
  top: -12px;
  display: inline-block;
  font-size: 14px;
  font-weight: 450;
}
.descrip{
  width: 75%;
  padding: 5px;
  background-color: ;
  margin: 10px auto;
}
.descrip h2{
  font-size: 14px;
  font-weight: 450;
}
.editfix{
  position: sticky;
  height: 10%;
  top: 27em;
}
#edit{
  width: 12%;
  height: 7%;
  background-color: ;
  margin: 10px;
  display: inline-block;
}
#bot_exp{
  width: 41%;
  height: 7%;
  background-color: ;
  margin: 10px;
  display: inline-block;
  float: right;
}

/*profile page*/
