body {
  margin: 0;
  padding: 0;
}

div {
  overflow: visible;
  position: relative;
}

.esquerra {
  float: left;
  clear: left;
}

.dreta {
  float: right;
  clear: right;
}

.cap {
  width: 500px;
  height: 800px;
  background-color: gold;
  margin: 0 auto;
  border-radius: 100px 100px 200px 200px;
}

.pel {
  height: 200px;
  background-color: black;
  border-radius: 100px 100px 0 0;
}

.ulls {
  height: 320px;
  background-color:;
  clear: both;
}

.celles {
  height: 40px;
  background-color:;
  clear: both;
  margin: 0;
}

.cella {
  width: 200px;

}

.parpelles{
  height: 80px;
  background-color:;
  margin:0;
}
.parpella{
  height: 60px;
}

.pestanyes {
  height: 100px;
  background-color:;
  margin: 0 75px;

}

.pestanya {
  height: 60px;
}

.irisos {
  height: 50px;
  background-color: ;
}

.iris {
  height: 40px;
}

.pupiles {
  height: 50px;
  background-color:;
}

.pupila {
  height: 20px;
}

.orelles {
  height: 100px;
  background-color:;
}

.orella {
  height: 100px;
}

.nas {
  height: 20px;
  background-color:;
}

.foratnas {
  height: 5px;
  background-color: ;
}

.boca {
  height: 40px;
}
