ul{
  width: 880px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
/* overflow: hidden;
          visible;
          scroll;

          para modificar la visibilidad del texto desbordado de las cajas */
li {
  background-color: SLATEBLUE;
  list-style-type: none;
  display: block;
  margin: 10px;
  width: 200px;
  height: 200px;
  float: left;
  box-shadow: gray 5px 5px 5px;
  font-size: 24px;
  font-family: Helvetica Neue;
  text-align: center;
}
/* .anulador {
  clear: both;
}
clear: both;
          left;
          right;
para anular el efecto del float */
#a01 {
  background-image: url(img/a01.png);
  background-size: 100%;
}
#a02 {
  background-image: url(img/a02.png);
  background-size: 100%;
}
#a03 {
  background-image: url(img/a03.png);
  background-size: 100%;
}
#a04 {
  background-image: url(img/a04.png);
  background-size: 100%;
}
a {
  height: 200px;
  display: block;
} /* para que el enlace funcione para toda la caja */
